.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #282828;
  margin-top: 4rem;
  margin: 0 auto;
}

.newsletter .container {
  max-height: 18rem;
}

.newsletter :global(.vtex-input-prefix__group) {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-top: 60px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: none;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}

.container {
  max-width: 100%;
  padding: 0;
}

.productImageTag--main {
  align-items: center;
}

/* .container--product-images {
  margin-left:50px;
} */
/* .productImageTag {
  image-rendering: auto;
} */

.caretIcon {
  color: #03c998
}

.swiperBullet {
  color: #03c998;
}

:global(.vtex-input__label) {
  text-transform: uppercase;
}

:global(.vtex-button__label) {
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

:global(.vtex-address-form) {
  text-decoration: none;
  color: #9A6D73;
}

.shippingContainer :global(.vtex-button) {
  background-color: #428cd1;
  color: #ffffff;
  border-color: #428cd1;
  margin-top: -1rem;
}

.productDescriptionContainer {
  padding: 0 20px;
}

.productDescriptionTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #161515;
}

.productDescriptionTitle .content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 119.19%;
  color: #9C9697;
}

@media (max-width: 768px) {
  .productNameContainer {
    font-size: 30px;
  }
}

.shareContainer {
  margin-top: 5px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* Edição começa aqui */
.searchBarContainer {
  width: 600px;
}

.logoLink {
  background-color: #86ead1;
  margin-right: 10px;
  border-radius: 12px;
}

.logoContainer,
.sizeDesktop {
  width: 180px;
  padding: 0;
}

.container--news {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px
}

@media screen and (max-width:1030px) {
  .searchBarContainer {
    margin: 0 10px;
    width: 300px;
  }
}

.inputGroup,
.inputGroup--news {
  display: flex;
  flex-direction: column;
}