/*
.buttonDataContainer {
    background-color:
}

.tooltipLabelText {
    background-color:
} */

/* .addToCartButton {
    background-color:
} */

.buttonText {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    background-size: contain;
}

