.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
  min-height: 450px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  min-height: 550px;
}

/************ TENDENCIES SHELF  ************/
.sliderLayoutContainer--categories {
  padding-left: 5rem;
  padding-bottom: 5rem;
  align-items: center;
}

.imageElement--categories {
  max-width: 200px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.imageElement--categories:hover {
  box-shadow: 1px 1px 3px #505050;
}

.sliderLeftArrow--categories {
  padding-left: 6rem;
}

.caretIcon--categories {
  background-color: #fff;
  padding: .5rem;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #505050;
  
}