.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;

}

.row--payment-methods {
  display: none;
  padding-top: 16px;
}

.acceptedPaymentMethodContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}