.menuItem,
.menuItem--isOpen,
.styledLinkContent,
.styledLinkContainer {
  color: black;
  text-align: center;
}

.styledLinkContent:nth-child(0n+2) {
  color: white;
}

.menuItem--main,
.menuItem--main--isOpen,
.styledLinkContainer--main,
.styledLinkContent--main {
  font-weight: 600;
  font-size: 30px;
}