/*
.buttonDataContainer {
    background-color:
}

.tooltipLabelText {
    background-color:
} */

/* .addToCartButton {
    background-color:
} */

.buttonText {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    background-size: contain;
}

<<<<<<< HEAD
@media (max-width: 420px) {
    .buttonText {
        font-size: 12px;
    }
}
=======
>>>>>>> 063fa78 (Finalização Header e footer)
