.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

.flexRowContent {
  text-align: left;

}

.flexRowContent--productImages {
  margin-left: 40px;
}

@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}


@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #0b0b0b;
  border-top: 1px solid #0F3E99;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #0F3E99;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.stretchChildrenWidth {
  margin-left: 80%;
}

.flexColChild {
  margin-right: 0px;
  margin-bottom: 0px;
}

.flexColChild--productRating {
  display: none;
}

.flexRowContent--main-header {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.flexRowContent,
.flexRowContent--menu-row:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: #dfdfdf; */
  color: #FFF;
}

@media screen and (max-width: 500cm) {
  .stretchChildrenWidth {
    margin-left: 0px;
  }

  .flexRowContent {
    max-width: 640cm;
  }
}

/* ________________________________________________
Mudanças a partir daqui */


.flexRowContent,
.flexRowContent--main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
}

@media screen and (max-width:1025px) {

  .flexRowContent--main-header,
  .flexRowContent--main-header-mobile {
    width: 99, 9%;
    background-color: #0b0b0b;
  }
}

.flexRowContent--main-header {
  color: #fff;
  background-color: #0b0b0b;
}

.menuItem,
.menuItem--isOpen {
  background-color: #0b0b0b;
}

.flexRowContent--sub-menu-color,
.flexRowContent--sub-menu-link,
.flexRowContent--menu-link {
  width: 100%;
  color: #FFF;
  background-color: #0b0b0b;
}

.flexRow,
.flexRow--menu-row--footer-main {
  width: 100%;
}

.flexRowContent--menu-row--bg {
  border-bottom: 1px solid #03c998;
  background-color: #0b0b0b;
  font-size: 20px;
}

.flexColChild--mobile-drawer-col {
  padding: 15px 0;
  font-size: 20px;
}

.flexCol--mobile-drawer-col {
  width: 450px;
  background-color: #0b0b0b;
  padding: 5px;
}

.flexColChild--filterCol {
  padding-left: 15px;
  color: #0b0b0b;
}