.container{
    max-width: 210px;
    max-width: 415px;
  }
  .shelfImage {
    max-width: 250px;
    max-height: 280px;
    height: 250px !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    max-height: 250px;
  }
  
  .shelfPlus {
    text-align: center;
    display: inline-block;
    transform: translatex(0px) translatey(0px) !important;
  }
  
  .slider {
    display: flex;
    flex-direction: row;
    padding-left: 5em;
    margin-left: 0em;
    display: inline-block;
    transform: translatex(0px) translatey(0px) !important;
  }
  
  .shelfItems {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-color: transparent;
    height: 26em;
  }
  
  .shlefButtonAddToCard {
    align-items:center;
    position: relative;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #ffffff;
    transform: translatex(0px) translatey(0px);
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .shlefButtonAddToCard:hover {
    background-color: #727273;
    box-shadow: 0 0 5px #b2b2b2;
    color: #ffffff;
  }
  
  .shelfPrice {
    opacity: 1;
    color: #000000;
    background-position-x: 0%;
    background-position-y: 0%;
    width: 138px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    min-height: 22px;
    position: relative;
    left: 16px;
  }
  
  .shelfSellingPrice {
    text-decoration: line-through;
  }
  
  .shelfProductName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    width: 188px;
    min-height: 22px;
    padding-left: 17px;
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .shelfLink {
    text-decoration: none;
  }
  
  .shelfMeddle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 16px;
  }
  
  .shelfTitle {
    color: #000000;
    font-size: 84px;
    font-weight: 300;
    position: relative;
    text-align: center;
    padding: 0 auto;
  }
  
  .shelfCombo {
    align-items: center;
  }
  
  .shelfBestPriceCombo {
    text-align: center;
    text-shadow: left;
  }
  
  .slideChildrenContainer {
    margin-left: 1rem;
  }
  
  @media (max-width: 768px) {
    .shelfTitle {
      font-size: 42px;
      font-weight: 300;
    }
  
    .shelfImage {
      max-width: 120px;
      max-height: 145px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    .shelfItem{
      align-items: center;
      text-align: center;
    }
  
    .shelfItems {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      border-color: transparent;
      height: 23rem;
    }
  
    .shlefButtonAddToCard {
      position: relative;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      font-size: 12px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  
    .shelfPrice {
      color: #000000;
      width: 68px;
      font-weight: 250;
      min-height: 12px;
      left: 16px;
    }
  }
  