.shelfImage {
  width: 200px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  aspect-ratio: 0.8;
}

.shelfPlus {
  text-align: center;
  display: inline-block;
  transform: translatex(0px) translatey(0px) !important;
}

.slider {
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
}

.shelfItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 26em;
}

.shelfItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.shlefButtonAddToCard {
  position: relative;
  transform: translatex(0px) translatey(0px);
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  border-radius: 0.25rem;
  background-color: #03c998;
  cursor: pointer;
  color: #ffffff;
  border: 0;
  padding: 8px 10px;
}

.shlefButtonAddToCard:hover {
  background-color: #03b085;
  /* box-shadow: 0 0 5px #b2b2b2; */
  color: #ffffff;
}

.shelfPrice {
  opacity: 1;
  color: #000000;
  background-position-x: 0%;
  background-position-y: 0%;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  position: relative;
}

.shelfSellingPrice {
  text-align: center;
}

.shelfProductName {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: left;
  width: 188px;
  min-height: 22px;
  padding-left: 17px;
  font-size: 15px;
  text-decoration: none;
}

.shelfLink {
  text-decoration: none;
}

.shelfProductName {
  text-align: center;
  width: 12em;
  word-break: break-word;
  flex-grow: 1;
}

.shelfMeddle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 16px;
}

.shelfTitle {
  color: #727273;
  font-size: 84px;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding: 0 auto;
}

.shelfCombo {
  align-items: center;
}

.shelfBestPriceCombo {
  text-align: center;
  text-shadow: left;
}

.slideChildrenContainer {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .shelfTitle {
    font-size: 42px;
    font-weight: 300;
  }

  .shelfImage {
    max-width: 100px;
    /* max-height: 120px; */
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .shelfItems {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-color: transparent;
    height: 23rem;
  }

  .shlefButtonAddToCard {
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .shelfPrice {
    color: #000000;
    width: 68px;
    font-weight: 250;
    min-height: 12px;
    left: 16px;
  }
}
