.shelfImage {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  aspect-ratio: 0.8;
}

.shelfPlus {
  font-size: 48px;
}

.slider {
  flex-direction: row;
  margin: 0 auto 100px;
  text-align: center;
}

.shelfItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 26em;
}

.shelfItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  width: 250px;
}

.shelfItem .shelfLink:nth-child(2) {
  flex-grow: 1;
  justify-self: flex-start;
}

.shlefButtonAddToCard {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  border-radius: 0.25rem;
  background-color: #03c998;
  cursor: pointer;
  color: #ffffff;
  border: 0;
  padding: 10px 12px;
  font-size: 14px;
}

.shlefButtonAddToCard:hover {
  background-color: #03b085;
  color: #ffffff;
}

.shelfPrice {
  opacity: 1;
  color: #000000;
  background-position-x: 0%;
  background-position-y: 0%;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  position: relative;
}

.shelfSellingPrice {
  text-align: center;
}

.shelfProductName {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  min-height: 22px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  word-break: break-word;
  flex-grow: 1;
}

.shelfLink {
  text-decoration: none;
  color: unset;
}

.shelfMeddle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 16px;
  margin-bottom: 150px;
}

.shelfTitle {
  color: #727273;
  font-size: 42px;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding: 0 auto;
  margin-bottom: 50px;
}

.shelfCTA {
  font-size: 24px;
}

@media (max-width: 1024px) {
  .shelfTitle {
    font-size: 36px;
  }
}

.shelfCombo {
  align-items: center;
  margin-bottom: 150px;
  padding: 0 14px;
}

.shelfCombo .shlefButtonAddToCard {
  width: 300px;
}

.shelfBestPriceCombo {
  text-align: center;
  text-shadow: left;
  font-size: 24px;
  font-weight: 700;
}

.slideChildrenContainer {
  margin-left: 1rem;
}

@media (max-width: 1025px) {
  .shelfItem {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .shelfTitle {
    font-size: 42px;
    font-weight: 300;
  }

  .shelfImage {
    max-width: 100px;
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .shelfItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .shlefButtonAddToCard {
    position: relative;
    border-radius: 12px;
    font-size: 14px;
    padding: 4px;
  }

  .shelfPrice {
    color: #000000;
    width: 68px;
    font-weight: 250;
    min-height: 12px;
    left: 16px;
  }
}

.shelfContent {
  display: flex;
  flex-direction: column;
}
